extends:
  - stylelint-config-rational-order

plugins:
  - stylelint-order

rules:
  declaration-empty-line-before: null
  plugin/rational-order:
    - true
    - empty-line-between-groups: true
  at-rule-no-unknown: null