.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.orange-color {
  color: var(--main-orange); 
}

.white-color {
  color: var(--white);
}

.dark-semi-color {
  color: var(--dark-semitransparent);
}

.dark-color {
  color: var(--dark);
}

.brown-color {
  color: var(--brown);
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}
.image-va {
  vertical-align: middle;
}

.bg-light {
  background-color: var(--light);
}

.bg-dark {
  background-color: var(--main-dark);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-white {
  background-color: var(--white);
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-n200 {
  margin-bottom: -200px;
}

.pt-200 {
  padding-top: 200px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.border-none {
  border: none;
}