.button {
  display: block;
  width: fit-content;
  padding: 12px 24px;

  color: var(--white);
  font-weight: 700;
  font-family: "Open Sans Bold", sans-serif;


  background-color: var(--main-orange);
}

.button:hover {
  background-color: var(--main-orange-dark);
  cursor: pointer;
}

.button--header {
  position: relative;
  left: calc(50% + 15px);
}

.btn-subscribe {
  position: relative;

  width: 70px;
  height: 50px;

  background-color: var(--main-orange);
  border: none;
}

.btn-subscribe::before {
  position: absolute;

  top: 50%;
  left: 50%;
  
  width: 24px;
  height: 24px;

  transform: translate(-50%, -50%);

  content: url("../assets/images/send.svg");
}

.btn-subscribe:hover {
  background-color: var(--main-orange-dark);
  cursor: pointer;
}
