@import './variables.css';
@import './default.css';
@import './btn.css';
@import './atomic.css';
@import './fonts.css';

body {
  color: #2A2626;
}


.container {
  max-width: 1110px;
  margin: auto;
  padding: 100px 0;
}

.bg-image::before {
  position: absolute;
  z-index: 0;

  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;

  background-size: cover;

  opacity: 0.1;

  content: '';
}


.heading-small {
  /* color: var(--dark-semitransparent); */
  font-size: 24px;
  font-family: "Neucha Regular", cursive;
}

.heading-desc {
  /* color: var(--dark); */
  font-size: 34px;
  font-family: "Neucha Regular", cursive;
  line-height: 1.2;
}

.header-image {
  position: absolute;

  top: 55px;
  right: -270px;

  height: 525px;
}

.header-title {
  margin-bottom: 185px;
}

.split-columns-2 > * {
  width: calc(50% - 15px);
}

.split-columns-3 > * {
  width: calc((100% - 60px) / 3);
}

.nav {
  gap: 30px;
  padding-top: 0;
}


.nav-title {
  font-size: 52px;
}

.card {
  padding: 24px;
}

.card:hover {
  background-color: var(--main-orange);
}

.card:hover .card-number,
.card:hover .card-title,
.card:hover .card-body {
  color: var(--white);
}

.card-number {
  margin: 0 0 40px;

  color: var(--main-dark);
  font-size: 64px;
  font-family: "Neucha Regular", sans-serif;
  line-height: 1;
}

.card-body {
  color: var(--dark);
}

.bias-item__wrapper {
  display: flex;
  gap: 30px
}

.card-title {
  margin: 0 0 30px;
}

.bias-item__brief {
  margin: 0;

  font-size: 34px;
  font-family: "Neucha Regular", sans-serif;
  line-height: 1.2;
}

.heading-separator {
  padding: 5px 10px;

  text-transform: uppercase;
}

.subscribe {
  padding: 40px 55px;
}

.subscribe-form__label {
  display: inline-block;
  margin-bottom: 9px;

  font-size: 18px;
}

.subscribe-form__input {
  height: 50px;
  width: calc(100% - 75px);
  padding: 15px;

  border: none;
}

.subscribe-form__rules {
  font-size: 12px;
}

.subscribe-form__rules-link {
  text-decoration: underline;

  cursor: pointer;
}

.info-block__item {
  margin-bottom: 16px;
}

.info-block__link {
  color: var(--blue);
  text-decoration: underline;
}
