:root {
  --white:  #fff;
  --white-semitransparent: #d7ccc0;
  --light: #f5f4f0;
  --main-orange: #fe8a02;
  --main-orange-dark: #EA7600;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-semitransparent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}